---

- name: check the status of the rootfs mount point
  command: /usr/bin/mountpoint -q {{ rootfs_mount_point }}
  ignore_errors: true
  changed_when: false
  register: rootfs_mounted

- include: format.yml tags=format
  when: rootfs_mounted | failed

####
# temporary measure to make sure booting to the rootfs works
- name: copy the busybox binary into the initramfs
  sudo: true
  command: /usr/bin/install -D -o root -g root -m 0755 {{ busybox_binary }} {{ rootfs_mount_point }}/usr/bin/busybox

- name: create the busybox function symlinks
  sudo: true
  file: src=busybox dest={{ rootfs_mount_point }}/usr/bin/{{ item }} state=link
    owner=root group=root mode=0755
  with_items: busybox_functions.stdout_lines
####

- name: copy the initramfs archive to the build disk
  sudo: true
  command: /usr/bin/install -D -o root -g root -m 0644 {{ src_dir }}/initramfs.cpio.xz {{ rootfs_mount_point }}/boot/initramfs-linux.img

- name: copy the linux kernel to the rootfs device
  sudo: true
  command: /usr/bin/install -D -o root -g root -m 0644 {{ kernel_bzimage }} {{ rootfs_mount_point }}/boot/vmlinuz-linux

- include: syslinux.yml tags=syslinux
- include: init.yml tags=init
