# Maintainer: Aaron Bull Schaefer <aaron@elasticdog.com>

pkgname=musl
pkgver={{ musl_version }}
pkgrel=1
pkgdesc='A lightweight, fast, simple, and free standard library.'
arch=('i686' 'x86_64')
url='http://www.musl-libc.org/'
license=('MIT')
source=("http://www.musl-libc.org/releases/musl-${pkgver}.tar.gz")
md5sums=('dbc08d311148e095016d9bbf6c7ffda6')

build() {
  cd "${srcdir}/${pkgname}-${pkgver}"

  # http://git.musl-libc.org/cgit/musl/tree/configure#n499
  CFLAGS='-fno-toplevel-reorder' ./configure --prefix=/usr --disable-shared
  make
}

package() {
  cd "${srcdir}/${pkgname}-${pkgver}"

  make prefix="${pkgdir}/usr" install
  install -m 0644 -D COPYRIGHT ${pkgdir}/usr/share/licenses/${pkgname}/LICENSE
}
